page-view-workout {
    ion-content {
        background: url(../assets/imgs/bg3.jpg) no-repeat center fixed;
        background-size: cover;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right,#02362C,#003199);
            opacity: .6; 
        }
    }
    .toolbar-background-md {
        background-color: #222;
    }
    .toolbar-title{
        color:#3082A4
    }
    .card-md {
        color: white;
        background-color:rgba(173, 181, 187, 0.471);  
    }
    .card-title-md {
        color: #49C6E8;
    }
}
